@page "/Athletes/trainingpaces"

@using AthleteDataAccessLibrary;
@using CoreLibrary.Models.Athlet;
@using AthleteDataAccessLibrary.Contracts;
@using CoreLibrary.Models.Pace;
@using MudBlazor.Extensions.Core;

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAthleteData AthleteData

<PageTitle>Meine Pacebereiche</PageTitle>

<h1>Meine Pacebereiche</h1>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">


    @if (isLoading)
    {
        <LoadingScreen Label="Deine Daten werden geladen..." />        
    }
    else
    {
        <MudStack Spacing="3">
            <MudAlert Severity="Severity.Info">
                Deine individuelle Trainingspace ist das wichtigste Steuerungsinstrument für dein Lauftraining.
                Hier findest du eine Übersicht über deine optimalen Trainingsbereiche.
            </MudAlert>

            @if (Athlete?.Vdot < 1)
            {
                <MudCard>
                    <MudAlert Severity="Severity.Warning">Füge einen Einstufungslauf hinzu, damit wir dein optimalen Pacebereiche für dich bestimmen können.</MudAlert>
                </MudCard>

                <PaceLetics.Web.Pages.Pace.PaceCard PaceKey="E Pace" LowerPace="@Athlete.PaceModel.Easy" UpperPace="@Athlete.PaceModel.Easy" />

                <PaceLetics.Web.Pages.Pace.PaceCard PaceKey="M Pace" LowerPace="@Athlete.PaceModel.Marathon" UpperPace="@Athlete.PaceModel.Marathon" />

                <PaceLetics.Web.Pages.Pace.PaceCard PaceKey="T Pace" LowerPace="@Athlete.PaceModel.Threshold" UpperPace="@Athlete.PaceModel.Threshold" />

                <PaceLetics.Web.Pages.Pace.PaceCard PaceKey="I Pace" LowerPace="@Athlete.PaceModel.Intervall" UpperPace="@Athlete.PaceModel.Intervall" />

                <PaceLetics.Web.Pages.Pace.PaceCard PaceKey="R Pace" LowerPace="@Athlete.PaceModel.Repetition" UpperPace="@Athlete.PaceModel.Repetition" />
            }

    </MudStack>

    }


</MudContainer>

@code
{

    bool isLoading = true;
    AthleteModel? Athlete;

    protected async override void OnInitialized()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var ID = await GetUserId();
        Athlete = await AthleteData.GetAthlete(ID);
        await AthleteData.UpdateAthlete(Athlete);
        isLoading = false;
        StateHasChanged();
        base.OnInitialized();
    }

    async Task<string> GetUserName()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        return user.Identity.Name;
    }

    async Task<string> GetUserId()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var userid = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        return userid;
    }

}
