@page "/Athletes/trainingpaces"

@using AthleteDataAccessLibrary;
@using CoreLibrary.Constants;
@using CoreLibrary.Models.Athlet;
@using AthleteDataAccessLibrary.Contracts;
@using CoreLibrary.Models.Pace;
@using MudBlazor.Extensions.Core;
@using PaceLetics.Components.Pace

@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IAthleteData AthleteData
@inject IDialogService dialogService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<PageTitle>Meine Pacebereiche</PageTitle>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.Small">


    @if (_isLoading)
    {
        <LoadingScreen Label="Deine Daten werden geladen..." />        
    }
    else
    {
        <h1>Meine Pacebereiche</h1>

        <MudStack Spacing="3" AlignItems="AlignItems.Stretch">
            <MudText>
                Deine individuelle Trainingspace ist das wichtigste Steuerungsinstrument für dein Lauftraining.
                Hier findest du eine Übersicht.
            </MudText>
            <MudPaper Class="pa-4">
                <PaceInfo SelectedIndex="@_selectedPaceItem"/>
            </MudPaper>

            @if (_athlete?.Vdot < 1)
            {
                <MudCard>
                    <MudAlert Severity="Severity.Warning">Füge einen Einstufungslauf hinzu, damit wir deine optimale Trainingspace für dich bestimmen können.</MudAlert>
                </MudCard>
            }
 
            <PaceCard ShowMoreInfoEvent="@OnShowMoreInfo" PaceKey="E Pace" LowerPace="@_lowerPace.Easy" UpperPace="@_upperPace.Easy" />

            <PaceCard ShowMoreInfoEvent="@OnShowMoreInfo" PaceKey="M Pace" LowerPace="@_lowerPace.Marathon" UpperPace="@_upperPace.Marathon" />

            <PaceCard ShowMoreInfoEvent="@OnShowMoreInfo" PaceKey="T Pace" LowerPace="@_lowerPace.Threshold" UpperPace="@_upperPace.Threshold" />

            <PaceCard ShowMoreInfoEvent="@OnShowMoreInfo" PaceKey="I Pace" LowerPace="@_lowerPace.Intervall" UpperPace="@_upperPace.Intervall" />

            <PaceCard ShowMoreInfoEvent="@OnShowMoreInfo" PaceKey="R Pace" LowerPace="@_lowerPace.Repetition" UpperPace="@_upperPace.Repetition" />
            
            
            <MudSpacer></MudSpacer>
    </MudStack>
     
    }

</MudContainer>

