@using PaceLetics.AthleteModule.CodeBase.Models;
@inject IStringLocalizer<DataGridView> L

@if (Athletes == null)
{
    <LoadingScreen Label="@L["Loading"]" />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@L["Name"]</th>
                <th>@L["Vdot"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var athlete in Athletes)
            {
                <tr>
                    <td>@athlete.Name</td>
                    <td>@athlete.Vdot</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IList<AthleteModel> Athletes{ get; set; } = new List<AthleteModel>();

}
