@using Microsoft.AspNetCore.Http.Extensions;
@using MudBlazor
@inject NavigationManager NavigationManager
@inject IStringLocalizer<LoginDisplay> L

<AuthorizeView>
    <Authorized>
        <MudTooltip Text="@L["ManageProfile"]">
            <MudIconButton Href="Identity/Account/Manage" Icon="@Icons.Material.Outlined.AccountBox" />
        </MudTooltip>
        <form method="post" action="Identity/Account/Logout">
            <MudIconButton Icon="@Icons.Material.Outlined.Logout" ButtonType="ButtonType.Submit" Class="nav-link btn btn-link">@L["LogOut"]</MudIconButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">@L["Register"]</a>
        <a href="Identity/Account/Login">@L["LogIn"]</a>
    </NotAuthorized>
</AuthorizeView>
