<MudCarousel Class="mud-width-full" Style="height:450px;" ShowArrows="@_arrows" ShowBullets="@_bullets" EnableSwipeGesture="@_enableSwipeGesture" AutoCycle="false" TData="object" >
    <MudCarouselItem Transition="_transition" Color="@Color.Transparent" >
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center" >
                <MudImage Src="images/icons/epace.png" Height="50" Width="50"/>
                <MudText>
                    Das Laufen mit der E-Pace trainiert deine Grundlagenausdauer. Hier läufst du deutlich im aeroben Bereich. Die meisten Kilometer pro Woche sollten so gelaufen werden. 
                    Die hier angegebene E-Pace kennzeichnet dabei den oberen Bereich der Grundlagenausdauert. Du kannst auch gerne langsamer laufen, wenn du z.B. mit einer Gruppe unterwegs bist. 
                    Das schadet dem Training im aeroben Bereich nicht.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%" >
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/mpace.png" Height="50" Width="50" />
                <MudText>
                    In der M-Pace würdest du im Idealfall einen Marathonlauf antreten (Training vorausgesetzt). Hier kommst du über längere Zeit in einen angenehmen Flow, z.B. wenn man motivierende Musik hört oder sich Ärger von der Seele läuft. 
                    Für effektives und schonendes Training der Grundlagenausdauer ist das aber zu schnell. Die Energiebereitstellung ist noch überwiegend aerob, aber der Verbrauch an Kohlenhydraten ist erhöht. 
                    Vereinfacht kann man sagen, die E-Pace ist gut, um aerobe Ausdauer zu trainieren. Die M-Pace ist gut, um aerobe Ausdauer abzurufen.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/tpace.png" Height="50" Width="50" />
                <MudText>
                    Bei einem Wettkampf über 10km kannst du dich an der T-Pace orientieren. Die 10km würde man nur etwas schneller laufen.
                    Bei diesem Tempo müssen anaerobe Stoffwechselwege in hohem Maße zur Energiebereitstellung beitragen. Das verbraucht sehr viele Kohlenhydrate. 
                    Das kannst du ca. 60 Min. aufrechterhalten. Fortgeschrittenere Läufer:innen können im Training Langintervalle mit der T-Pace laufen oder Strecken über 5km absolvieren.
                    Einsteigende laufen bei uns auch kürzere Intervalle in der T-Pace, um erstmal die notwendige Koordination zu entwickeln und die Biomechanik an erhöhte Belastungen zu gewöhnen.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/ipace.png" Height="50" Width="50" />
                <MudText>
                    Die I-Pace liegt jenseits der aerob-anaeroben Schwelle. Intervalle in der I-Pace läuft man z.B. um diese Schwelle zu verschieben oder die maximale Sauerstoffaufnahme zu erhöhen. 
                    Intervalle in der I-Pace haben klassischerweise nur kurze Pausen, sodass zwischen den Intervallen keine vollständige Regeneration stattfindet. 
                    Nach einigen Wiederholungen wird es immer anstrengender. Genau dort beginnt das Training.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="Color.Transparent" >
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/rpace.png" Height="50" Width="50" />
                <MudText>
                    Die R-Pace ist sehr schnell und bringt dich koordinativ und kraftmäßig an den Rand deiner Fähigkeiten. 
                    Es werden Bewegungsspielräume exploriert, die sonst nicht genutzt werden. Die Intervalle sind kurz und die Pausen sind lang.
                    Um gute Trainingsreize zu setzen, müssen Muskulatur und Nervensystem voll einsatzbereit sein. Für unerfahrene ist das Verletzungsrisiko hoch. 
                    Deshalb verzichten wir bei Einsteiger:innen erstmal auf die R-Pace. 
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private bool _arrows = true;
    private bool _bullets = true;
    private bool _enableSwipeGesture = true;
    private bool _autocycle = false;
    private Transition _transition = Transition.Slide;
}