<MudCarousel Class="mud-width-full" Style="height:300px;" ShowArrows="@_arrows" ShowBullets="@_bullets" EnableSwipeGesture="@_enableSwipeGesture" AutoCycle="false" TData="object" >
    <MudCarouselItem Transition="_transition" Color="@Color.Transparent" >
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center" >
                <MudImage Src="images/icons/epace.png" Height="50" Width="50"/>
                <MudText>
                    Das Laufen mit der E-Pace trainiert deine Grundlagenausdauer. Hier läufst du deutlich im aeroben Bereich. Die meisten Kilometer pro Woche sollten im aeroben Bereich gelaufen werden. 
                    Die hier angegebene E-Pace kennzeichnet dabei den oberen Bereich der Grundlagenausdauert. Du kannst auch gerne langsamer laufen, wenn du z.B. mit einer Gruppe unterwegs bist. 
                    Das schadet dem Training im aeroben Bereich nicht.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="@Color.Transparent">
        <div class="d-flex" style="height:100%" >
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/mpace.png" Height="50" Width="50" />
                <MudText>
                    In der M-Pace würdest du im Idealfall einen Marathonlauf antreten (entsprechendes Training vorausgesetzt). Das ist der Laufbereich, in dem man über längere Zeit in einen angenehmen Flow kommt, z.B. wenn man motivierende Musik hört oder sich Ärger von der Seele läuft. 
                    Für das effektive und schonende Training der Grundlagenausdauer ist das aber viel zu schnell. Die Energiebereitstellung ist beim Laufen in der M-Pace noch weitestgehend aerob, aber der Verbrauch an Kohlenhydraten ist hoch im vergleich zur E-Pace. 
                    Vereinfacht kann man sagen, die E-Pace ist gut, um aerobe Ausdauer zu trainieren. Die M-Pace ist gut, um aerobe Ausdauer abzurufen.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/tpace.png" Height="50" Width="50" />
                <MudText>
                    Bei einem Wettkampf über 10km oder auch einem Halbmarathon würde man sich an der T-Pace orientieren. Den 10km Lauf würde man etwas schneller, den HM etwas langsamer laufen.
                    Beim Lauf in der T-Pace wird schon so viel Energie pro Zeit verbraucht, dass anaerobe Stoffwechselwege in hohem Maße zur Energiebereitstellung beitragen müssen. Das ist ineffizent und verbraucht sehr viele Kohlenhydrate. 
                    Dieses Tempo kann man in der Regel maximal 60 Min. aufrechterhalten. Fortgeschrittenere Läufer:innen können im Training wiederholte Langintervalle mit der T-Pace laufen oder Strecken über 3000m bis 5000m absolvieren.
                    Einsteigende laufen bei uns auch kürzere Intervalle in der T-Pace, um erstmal die notwendige Koordination zu entwickeln und die Biomechanik an erhöhte Belastungen zu gewöhnen.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="Color.Transparent">
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/ipace.png" Height="50" Width="50" />
                <MudText>
                    Die I-Pace liegt jenseits der aerob-anaeroben Schwelle. Intervalle in der I-Pace läuft man z.B. um diese Schwelle zu verschieben oder die maximale Sauerstoffaufnahme zu erhöhen. 
                    Intervalle in der I-Pace haben klassischerweise nur kurze Pausen, sodass zwischen den Intervallen keine vollständige Regeneration stattfindet. 
                    Nach einigen Wiederholungen wird es immer anstrengender. Genau dort beginnt das Training.
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="_transition" Color="Color.Transparent" >
        <div class="d-flex" style="height:100%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="images/icons/rpace.png" Height="50" Width="50" />
                <MudText>
                    Laufen in der R-Pace macht viel Spaß. Das Tempo ist sehr schnell und bringt die Athlet:innen koordinativ und kraftmäßig an den Rand ihrer Fähigkeiten. 
                    Die Intervalle sind kurz und haben eine lange Pause dazwischen. Die R-Pace trainiert das Zusammenspiel von Muskeln und Nerven und die Kraft. Außerdem werden beim Lauf in der R-Pace Bewegungsspielräume exploriert, die sonst eher nicht ausgenutzt werden. 
                    Zwischen den Intervallen in der R-Pace findet üblicherweise eine relativ lange Erholung statt. Denn um die Trainingsreize zu setzen, müssen Muskulatur und Nervensystem bei jeder Wiederholung voll einsatzbereit sein. Im Bereich der R-Pace ist das Verletzungsrisiko sehr hoch. 
                    Deshalb verzichten wir bei Einsteigenden erstmal auf die Vorgabe der R-Pace. 
                </MudText>
            </MudStack>
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private bool _arrows = true;
    private bool _bullets = true;
    private bool _enableSwipeGesture = true;
    private bool _autocycle = false;
    private Transition _transition = Transition.Slide;
}