@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Title"].Value;
}

<h1>@Localizer["Title"]</h1>

<h3>@Localizer["Section1Title"]</h3>
<p>@Localizer["Section1Text"]</p>

<h3>@Localizer["Section2Title"]</h3>
<p>@Localizer["Section2Text"]</p>

<h3>@Localizer["Section3Title"]</h3>
<p>@Localizer["Section3Text"]</p>
<ul>
    <li>@Localizer["Section3Item1"]</li>
    <li>@Localizer["Section3Item2"]</li>
</ul>

<h3>@Localizer["Section4Title"]</h3>
<p>@Localizer["Section4Text"]</p>
<ul>
	<li>@Localizer["Section4Item1"]</li>
	<li>@Localizer["Section4Item2"]</li>
    <li>@Localizer["Section4Item3"]</li>
    <li>@Localizer["Section4Item4"]</li>
    <li>@Localizer["Section4Item5"]</li>
    <li>@Localizer["Section4Item6"]</li>
</ul>

<h3>@Localizer["Section5Title"]</h3>
<p>@Localizer["Section5Text"]</p>

<h3>@Localizer["Section6Title"]</h3>
<p>@Localizer["Section6Text"]</p>

<h3>@Localizer["Section7Title"]</h3>
<p>@Localizer["Section7Text"]</p>

<h3>@Localizer["Section8Title"]</h3>
<p>@Localizer["Section8Text"] <a href="mailto:mail@caotte.de">mail@caotte.de</a>.</p>
