@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (SignInManager.IsSignedIn(User))
{
    <a class="mud-typography mud-typography-body2" style="color:inherit; text-decoration:none; margin-right:1rem;" asp-area="Identity" asp-page="/Account/Manage/Index">@Localizer["Greeting"] @User.Identity?.Name!</a>
    <form class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
        <button type="submit" class="mud-button-root mud-button mud-button-text mud-button-text-inherit mud-button-text-size-small mud-ripple-button">
            <span class="mud-button-label">@Localizer["Logout"]</span>
        </button>
    </form>
}
else
{
    <a class="mud-button-root mud-button mud-button-text mud-button-text-inherit mud-button-text-size-small mud-ripple-button" style="text-decoration:none;" asp-area="Identity" asp-page="/Account/Login">
        <span class="mud-button-label">@Localizer["Login"]</span>
    </a>
    <a class="mud-button-root mud-button mud-button-text mud-button-text-inherit mud-button-text-size-small mud-ripple-button" style="text-decoration:none;" asp-area="Identity" asp-page="/Account/Register">
        <span class="mud-button-label">@Localizer["Register"]</span>
    </a>
}
