@page
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@model PaceLetics.Web.Pages.ErrorModel
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName" dir="@(CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr")">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@Localizer["Title"]</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">@Localizer["Heading"]</h1>
            <h2 class="text-danger">@Localizer["Message"]</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>@Localizer["RequestId"]:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>@Localizer["DevelopmentMode"]</h3>
            <p>
                @Localizer["DevelopmentModeText"]
            </p>
            <p>
                <strong>@Localizer["DevelopmentWarning"]</strong>
                @Localizer["DevelopmentWarningDetail"]
            </p>
        </div>
    </div>
</body>

</html>
