@page "/impressum"
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Title"]</h2>

<p>@Localizer["ResponsibleFor"]</p>

<strong>@ImModel.Name</strong>
<br />
@ImModel.Straße
<br />
@ImModel.PLZ @ImModel.Ort
<br />
@Localizer["Phone"]: @ImModel.Telefonnummer
<br />
@Localizer["EmailLabel"]: <a href="mailto:@ImModel.Email">@ImModel.Email</a>
<br />

@if (!string.IsNullOrEmpty(ImModel.UStID))
{
        <p>@Localizer["VatId"]: @ImModel.UStID</p>
}

@if (!string.IsNullOrEmpty(ImModel.RegisterEintrag))
{
        <p>@ImModel.RegisterEintrag</p>
}

@functions {
    public class ImpressumModel
    {
        public string Name { get; set; } = "Christoph Otte";
        public string Straße { get; set; } = "Effengrube 7";
        public string PLZ { get; set; } = "23552";
        public string Ort { get; set; } = "Lübeck";
        public string Telefonnummer { get; set; } = "0162 6057269";
        public string Email { get; set; } = "mail@caotte.de";
        public string UStID { get; set; } = string.Empty;
        public string RegisterEintrag { get; set; } = string.Empty;
    }

    private ImpressumModel ImModel = new ImpressumModel();
}
